@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

#body {
  background-color: black;
  background-image: url("/img/homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  padding: 0px 30px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3px;
}
nav ul li a:hover {
  color: #ff4c60;
  transition: 0.3s;
}
.menu-btn {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  z-index: 900;
}

.menu-btn span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-top: 4px;
}

.menu-btn.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.logo {
  font-family: "Prata", serif;
  font-size: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.button:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.hero {
  padding: 20px;
  margin-top: 450px;
}
.hero p {
  font-size: 3.2rem;
  letter-spacing: 3px;
  font-family: "Prata", serif;
  width: 50%;
  margin-bottom: 30px;
}
.colortext {
  color: #ff4c60 !important;
}
.lit-text {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30%;
}
.lit-text p {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.6;
}

/* SERVICE STYLE */

#service-body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.service-hero {
  position: relative;
  height: 45vh;
  background-image: url("/img/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  padding: 0px 30px;
}

.service-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 45vh;
}
.hero-content {
  display: flex;
  flex-direction: column;
}
.hero-content h1 {
  font-size: 4rem;
  margin-top: 120px;
  z-index: 2;
  align-self: center;
  font-family: "Prata", serif;
}
.service-body-content {
  padding: 30px 30px;
  max-width: 100vw;
  margin: auto;
}
.lestfind-text {
  font-size: 25px;
  margin-top: 20px;
  font-family: "Prata", serif;
  line-height: 1.6;
}

/* RESPONSIVENESS */
@media (max-width: 706px) {
  #body {
    background-position: center;
  }
}
@media (max-width: 430px) {
  .hero p {
    margin-top: 100px;
    font-size: 2.5rem;
    width: 100%;
  }
  .lit-text {
    display: none;
  }
  #body {
    padding: 0;
  }
  #body nav {
    padding: 30px 20px;
  }
  nav .button {
    display: none;
  }
  #body nav ul {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 0%;
    height: 100vh;
    z-index: 90;
    gap: 60px;
    transition: all 0.3s ease-in-out;
  }
  #body nav ul.active {
    width: 100%;
    padding: 60px 30px;
  }
  #body nav ul li a {
    /* opacity: 0; */
    font-size: 18px;
    letter-spacing: 5px;
  }
  .menu-btn {
    display: block;
  }
  .service-hero {
    padding: 18px 20px;
    height: 30vh;
  }
  .service-hero::before {
    height: 30vh;
  }

  .hero-content h1 {
    font-size: 3rem;
    z-index: 10;
  }
  .lestfind-text {
    font-size: 23px;
  }
  #service-body .nav-links {
    position: fixed !important;
    top: 0;
    right: 0;
    width: 0%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 60px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  #service-body .nav-links.active {
    width: 100%;
    padding: 60px 30px;
  }

  #service-body nav ul li a {
    font-size: 18px;
    letter-spacing: 5px;
  }
  .service-body-content {
    padding: 30px 0px;
  }
  .top-picks {
    font-size: 3rem !important;
    text-align: center;
    font-weight: 100px;
    font-family: "Prata", serif;
    margin-top: 40px;
  }
}

/* KEYFRAMES */
@keyframes float-button {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  border-top: 1px solid grey;
}
footer p {
  margin: 0;
}
/* Responsive: 1 per row on smaller screens */
@media (max-width: 768px) {
  .Grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin: 20px 5px;
    width: 100%;
  }
  .Grid-container .box {
    width: 190px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
