.slider-container {
  height: 35rem;
  width: 100vw;
  max-width: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  /* margin-top: rem; */
}

.left-arrow,
.right-arrow {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: arrow-slide-in 2s 1s forwards ease-out;
}

.left-arrow {
  transform: translate(-100vw);
}
.right-arrow {
  transform: translate(100vw);
}

@keyframes arrow-slide-in {
  to {
    transform: translate(0px);
  }
}

.slider-content {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  perspective: 100px;
}
.slider-content-background {
  height: 100%;
  width: 102%;
  position: absolute;
  top: 0;
  left: -1%;

  z-index: 3;
}
.slider-content .slide {
  position: absolute;
  left: 50%;
  height: 24rem;
  max-height: 400px;
  width: 14rem;
  min-width: 270px;
  background: #999;
  /*   border: 1px solid; */
  border-radius: 25px;
  left: 50%;
  z-index: 0;
  opacity: 0;
  transform: translate(-50%, 0) rotateY(0deg) scale(1, 1);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
    left 0.5s ease-in-out, z-index 0s 0.25s ease-in-out,
    box-shadow 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.slide.position-1 {
  left: 20% !important;
  z-index: 1 !important;
  transform: translate(-50%, 0) rotateY(-2deg) scale(0.8, 0.8) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.1) !important;
  filter: blur(5px);
}
.slide.position-2 {
  left: 35% !important;
  z-index: 2 !important;
  transform: translate(-50%, 0) rotateY(-1deg) scale(0.9, 0.9) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.3) !important;
  filter: blur(2px);
}
.slide.position-3 {
  left: 50% !important;
  z-index: 4 !important;
  transform: translate(-50%, 0) rotateY(0deg) scale(1, 1) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  filter: blur(0px);
}
.slide.position-3:hover {
  box-shadow: 0px 0rem 1.8rem rgba(0, 0, 0, 0.7) !important;
  transform: translate(-50%, 0) rotateY(0deg) scale(1.05, 1.05) !important;
}
.slide.position-4 {
  left: 65% !important;
  z-index: 2 !important;
  transform: translate(-50%, 0) rotateY(1deg) scale(0.9, 0.9) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.3) !important;
  filter: blur(2px);
}
.slide.position-5 {
  left: 80% !important;
  z-index: 1 !important;
  transform: translate(-50%, 0) rotateY(2deg) scale(0.8, 0.8) !important;
  opacity: 1 !important;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.1) !important;
  filter: blur(5px);
}

.slide.position-none {
  left: 50%;
  z-index: 0;
  transform: translate(-50%, 0) rotateY(0deg) scale(0.7, 0.7);
  opacity: 0;
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0);
}

.slider-container i {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.slider-container .left-arrow:hover i,
.slider-container .right-arrow:hover i {
  background: rgba(22, 22, 220, 0.1);
  color: #fff;
}

.slider-content .slide .card-sections .upper-section,
.slider-content .slide .card-button {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slider-content .slide.position-3 .card-sections .upper-section,
.slider-content .slide.position-3:hover .card-button {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.slide > * {
  color: white;
  font-family: "Inter";
  font-size: 90%;
  letter-spacing: -0.001em;
}

.media,
.card-sections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media img {
  position: absolute;
  height: 30rem;
}

.card-sections {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lower-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-sections .lower-section .card-button {
  margin: 0 auto;
  z-index: 1;
}

/* .slide.position-3:hover .card-sections .lower-section .card-button {
  animation: ;
} */

.slide.active.position-3 .card-sections .lower-section .card-button {
  transform: rotatex(180deg);
}

.upper-section .wishlist,
.upper-section .cart {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  backdrop-filter: blur(10px);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
.upper-section .cart:hover {
  color: rgb(252, 163, 60);
  background: rgba(0, 0, 0, 0.4);
}
.upper-section .wishlist:hover {
  color: rgb(244, 129, 129);
  background: rgba(0, 0, 0, 0.4);
}

.card-caption {
  width: 90%;
  position: absolute;
  text-align: center;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  font-family: "Papyrus", Fantasy;
  transition: bottom 0.2s 0.3s ease-in-out, left 0.2s 0.3s ease-in-out,
    transform 0.2s 0.3s ease-in-out;
}

.product-content {
  text-align: left;
  position: absolute;
  opacity: 0;
  width: 100%;
  margin-top: 5px;
  font-size: 13px;
  transition: opacity 0.2s 0s ease-in-out;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.slide.active.position-3 .product-content {
  opacity: 1;
  transition: opacity 0.5s 0.3s ease-in-out;
}

.slide.position-3:hover .card-caption,
.slide.active.position-3 .card-caption {
  bottom: 15%;
  transition: bottom 0.4s 0s ease-in-out;
}

.slide.active.position-3 .card-caption {
  left: 5%;
  transform: translate(0%);
  bottom: 40%;
  transition: bottom 0.4s 0s ease-in-out, left 0.4s 0s ease-in-out,
    transform 0.4s 0s ease-in-out;
  /*   margin-top: -10rem; */
}

.upper-section .price {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  width: 55%;
  height: 35px;
  margin-top: -10rem;
  display: grid;
  place-content: center;
  border-radius: 0 0 25px 25px;
  backdrop-filter: blur(10px);
  transition: margin-top 0.2s 0s ease-in-out;
}
.slide.position-3:hover .upper-section .price,
.slide.active.position-3 .upper-section .price {
  margin-top: -1rem;
  transition: margin-top 0.4s 0.2s ease-in-out;
}
/* .upper-section .price::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    left: -15px;
    border-radius: 0 15px 0 0;
    box-shadow: 0px -12px 0 rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  
}
.upper-section .price::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    right: -15px;
    border-radius: 15px 0 0 0;
    box-shadow: 0px -12px 0 rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
} */

.lower-section::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -5%;
  height: 15%;
  width: 100%;
  left: 0;
  border-radius: 8rem 8rem 0 0;
  filter: blur(11px);
  transition: background 0.35s 0.35s ease-in-out, height 0.35s ease-in-out,
    border-radius 0.35s ease-in-out;
}

.slide.active.position-3 .lower-section::before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  /*     background: linear-gradient(45deg,rgba(0,0,0,0.2), rgba(255,255,255,0.2)); */
  position: absolute;
  bottom: -5%;
  height: 55%;
  width: 100%;
  left: 0;
  border-radius: 1rem 1rem 0 0;
  filter: blur(0px);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  transition: background 0.35s ease-in-out, height 0.35s ease-in-out,
    border-radius 0.01s ease-in-out;
}

.slide:not(.active).position-3:hover .lower-section::before {
  height: 33%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 28rem 28rem 0 0;
}

@media screen and (max-width: 620px) {
  .slide.position-1,
  .slide.position-5 {
    opacity: 0.5 !important;
  }
  .slide.position-2,
  .slide.position-4 {
    opacity: 0.95 !important;
  }
}

@media screen and (max-width: 445px) {
  .slide.position-1,
  .slide.position-5 {
    opacity: 0 !important;
  }
  .slide.position-2,
  .slide.position-4 {
    opacity: 0.5 !important;
  }
}
@media screen and (max-width: 415px) {
  .slide.position-3:hover {
    box-shadow: 0px 0rem 0.8rem rgba(0, 0, 0, 0.7) !important;
    transform: translate(-50%, 0) rotateY(0deg) scale(1.05, 1.05) !important;
  }
  .slide {
    opacity: 0 !important;
    box-shadow: none !important;
  }
  .slide.position-3 {
    box-shadow: none !important;
    opacity: 1 !important;
  }
  .slide.position-1,
  .slide.position-2 {
    left: -50% !important;
    transform: translate(-50%, 0) rotateY(0deg) scale(0.7, 0.7) !important;
  }
  .slide.position-4,
  .slide.position-5 {
    left: 150% !important;
    transform: translate(-50%, 0) rotateY(0deg) scale(0.7, 0.7) !important;
  }
}
@media screen and (max-width: 390px) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
  .slider-content {
    width: 100%;
  }
}
